selenium==3.14.0
requests==2.19.1
urllib3==1.23
robotframework==3.0.4
robotframework-imaplibrary
robotframework-seleniumlibrary==3.2.0rc1
robotframework-requests 
robotframework-xvfb
allure-robotframework
IMAPClient
PyVirtualDisplay
xvfbwrapper